/* flexbox */

#container{
    background-color:aqua;
    height: 400px;
    display: flex;
    /* flex-direction: row; - by bydefault */
    flex-direction: row;
    justify-content:center; /*works Horizontally around main axis */
    align-items: center; /*works vertically around cross axis */
    flex-wrap:wrap; /*used for responsive design*/
    gap: 10px;
}

/* justify-content: main axis ke around kaam karta hai and main axis decide kaun karega, aapka flex direction.
align-items: cross axis ke around kaam karta hai  */
/* flexbox is always used with parent-child relationship */
.box{
    height: 100px;
    width: 100px;
}

.first{
    background-color: orange;
    flex-grow:1;
    /* flex-shrink: 2; */
    /*flex-basis: 200px;*/ /* main axis ke around length ko bada deta hai */
}

.second{
    background-color: green;
    flex-grow: 1;
    align-self: flex-end; /*overrides align-items property of parent */
}
.third{
    background-color: red;
    flex-grow: 1;
    align-self:flex-start; /*overrides align-items property of parent */
}
.fourth{
    background-color:chartreuse;
    flex-grow: 1;
    flex-flow:column;
}

/* container(parent)- display,flex-direction,justify-content,align-items,flex-wrap
child - flex-grow,flex-shrink,flex-basis,align-self */