/* Box-shadow and overflow */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: aquamarine;*/
    /*box-shadow:10px 10px red;*/ /* offset of x (first value[+ve,-ve] agar +ve hoga to x axis right ki taraf point karega or agar -ve hoga to x axis left ki taraf point karega), offset of y (second value[+ve,-ve] agar +ve hoga to y axis downward ki taraf point karega or agar -ve hoga to y axis upward ki taraf point karega), color (last value) */
    /*box-shadow: 10px 10px 10px 5px red;*/  /* 3rd value hoti hai blur radius ki and 4th value hoti hai spread radius*/
/*} */

/*box-shadow:(offset-x,offset-y,blur-radius,spread-radius)*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: aqua;
    overflow:scroll;
    box-shadow: 0px 0px 100px 5px red;
}