*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border-radius: 50%; */
    animation-name: moving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* .box2{
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    animation-name: sliding;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */

@keyframes moving {
    from{
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
}

/* @keyframes sliding {
    from{
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
} */